// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Jost', sans-serif;

.tooltip .tooltip-inner {
  background: white;
  color: black;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;
  border: 1px solid black;
}
